*{
	margin: 0;
	padding: 0;
	outline: none;
}
@font-face{
	font-family: "Helvetica";
}
p{
	font-family: "Helvetica";
}
#baner{
	position: relative;
	width: 300px;
    height: 250px;
    display: inline-block;
    background: #878787;
    overflow: hidden;
}
#baner>img{
	position: absolute;
	-webkit-filter: grayscale(100%);
}
.block1,
.block2,
.block3,
.block4,
#slide0 {
	position: absolute;
}
.block1 {
	width: 100%;
    top: 60px;
	color:#fff;
	font-size: 36px;
}
.block1 pre{
	color:#fff;
	margin: auto;
    display: block;
    width: 100%;
    text-align: center;
}
.block2{
	top: 0;
    left: 0;
}
.block2 img{
	width:300px;
	opacity: 0;
}
.block3{
	width:100%;
	top: -150px;
    left: 0;
    color: #fff;
    font-size: 22px;
    height: 149px;
    background: rgba(231,231,231,0.85);
}
.block3 img{
    width: 274px;
    margin: 7px 0 -10px  13px;
}
.block3 p{
	color: #0f2e43;
}
.block3 p {
	margin: 28px auto;
    width: 255px;
	font-size: 20px;
	text-align: center;
}
.block4{
	bottom: -45px;
    left: 0px;
    width: 100%;
}
.block4 img{
	width: 206px;
    margin: auto;
    display: block;
}
#slide0{
	opacity: 0;
	width: 100%;
    height: 100%;
	background: url(../images/1.png);
}




